<section>

 <ul class="nav nav-pills">
  <li ng-class="{ active:tabpanel.isSelectedTab(1)}">
    <a href ng-click="tabpanel.selectTab(1)">New Booking</a>
  </li>
  <li ng-class="{ active:tabpanel.isSelectedTab(2)}">
    <a href ng-click="tabpanel.selectTab(2)">Show Bookings</a>
  </li>
 </ul>
